:root {
  --glitch-color-a: rgba(255, 0, 0, 0.6);
  --glitch-color-b: rgba(0, 255, 255, 0.6);
  --glitch-color-c: rgba(255, 255, 0, 0.6);
}
@font-face {
  font-family: Caveat;
  src: url("../fonts/Caveat-VariableFont_wght.ttf");
}

@font-face {
  font-family: Quivera;
  src: url("../fonts/QuiveraRegular-0Wdr9.otf") format("opentype");
}
@font-face {
  font-family: Nunito;
  src: url("../fonts/NunitoLight-K7dKW.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 6rem;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}
.section-container {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}
body {
  color: white;
  font-family: Quivera;
  margin: 0;
  /* background-color: #121212; */
  background: black;
  background-size: cover;
}
p {
  font-family: Nunito;
}
footer {
  position: absolute;
  height: 1.5rem;
  clip-path: polygon(0% 0%, 90% 0%, 95% 100%, 0% 100%);
  width: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
}

#loadingContainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: relative;
  width: 40%;
  margin: 0.5rem;
  height: 1rem;
  background-color: black;
  border: 1px solid white;
  border-right: 10px solid white;
  border-left: 10px solid white;
  padding: 0rem;
  filter: url("#chromaticAberration");
  border-radius: 1rem;
}
.loading .bar {
  background-color: white;
  height: 100%;
  /* animation: load 2000ms infinite; */
  position: relative;
}
.loading .label {
  mix-blend-mode: exclusion;
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  top: 0rem;
  text-align: center;
  color: white;
  background: transparent;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  /* background-image: radial-gradient(#fff 1px, transparent 0) !important;
  background-size: 0.3em 0.4em;
  background-position: -0.2em -0.1em; */
}
#g {
  position: absolute;
  top: 14rem;
  z-index: 1;
}
.social a {
  fill: rgb(255, 255, 255);
  height: 40px;
  opacity: 1;
  width: 40px;
}
.social a:hover {
  filter: url("#chromaticAberration");
}
ul li {
  list-style-type: none;
}
.social ul {
  padding-inline-start: 0;
}
.social li svg {
  fill: rgb(255, 255, 255);
  height: 60px;
  opacity: 1;
  width: 60px;
}
.social li {
  display: inline-block;
}
.social {
  text-decoration: none;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 6rem;
  /* margin: auto; */
  padding-inline-start: 0;
}
.barcode {
  width: fit-content;
  font-family: "Libre Barcode 39";
  color: white;
  font-size: 4rem;
}
.section-barcode .barcode {
  font-size: 2rem;
}
.section-barcode {
  position: absolute;
  bottom: 6rem;
  right: 20px;
  font-size: 30px;
  font-size: 1rem;
  transform: rotate(270deg) translate(0px, 60px);
}
.subtitle-barcode {
  font-size: 5rem;
  color: rgba(255, 0, 122);
  padding-top: 8rem;
  margin-top: 0;
  margin-bottom: 0rem;
  margin-left: 3rem;
}
.subtitle-barcode .barcode {
  font-weight: 100;

  text-shadow: 0 0.3em white;
  color: rgb(255, 0, 80);
  font-size: 4rem;
}
@keyframes load {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* #sphereCanvas {
  aspect-ratio: auto 1/1;
} */
#skills-sphere {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  bottom: 0;
}
#sphereCanvas {
  /* filter: url("#chromaticAberration"); */
  /* filter: url(#chromaticAberration); */
  /* width: calc(50vw - 6rem); */
  width: 50vw;
  height: 100%;
}
#section05 {
  overflow: hidden;
  background-image: linear-gradient(to bottom, black, transparent 40%),
    linear-gradient(to top, black, transparent 40%);
}
#canvas {
  display: block;
  position: absolute;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 100vh;
  /* mix-blend-mode: screen; */

  z-index: -1;
  filter: url("#chromaticAberration");
}
.typed {
  color: white;
}
.glitch {
  z-index: 3;
  position: relative;
  color: white;
  font-size: 6vw;
  font-weight: bold;
  text-transform: uppercase;
  animation: glitch 1700ms infinite;

  /* -webkit-animation-timing-function: steps(1, end);
    -moz-animation-timing-function: steps(1, end);
    -ms-animation-timing-function: steps(1, end);
    -o-animation-timing-function: steps(1, end);
    animation-timing-function: steps(1, end);  */
}
header a {
  text-decoration: none;
  padding: 5px;
}
.bottom {
  position: absolute;
  bottom: 0;
}
.navbar {
  font-family: inherit;
}
.text-section p {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
  /* font-family: monospace; */
}
.text-section a,
.contact-section a {
  color: rgb(0 183 255);
  /* filter: url('#chromaticAberration'); */
}
.contact-section {
  text-shadow: 0px 0px 1.5em black;
  font-family: Quivera !important;
  font-weight: normal;
  position: relative;
  font-size: 2rem !important;
  color: white;
  background-color: transparent;
  margin-left: 6rem;
  margin-top: 6rem;
  line-height: 1.5 !important;
}
#scrollIndicator {
  position: absolute;
  bottom: 8rem;
  left: 50%;

  z-index: 999;
}

#scrollIndicator a {
  padding-top: 80px;
}

#scrollIndicator a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.sideBar {
  position: absolute;
  top: 50vh;
  height: 400vh;
  width: 1px;
  z-index: 1;
  left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom, black, rgba(255, 255, 255, 0.5) 50vh);
}
.ddee {
  z-index: 1;
  color: white;
  font-weight: 100;
  font-size: 2vw;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 20vh;
  padding-top: 23vw;
  left: 0;
}
.ideasToReality {
  z-index: 1;
  color: white;
  font-family: "Caveat", cursive !important;
  font-size: 1vw;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 20vh;
  padding-top: 25vw;
  left: 0;
}
.nameHeaderTitle.loadHeaderTitle {
  top: 4rem;
  padding: 5px;
  padding-top: 2px;
}
#scrollIndicator a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#scrollIndicator a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

#scrollIndicator a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.sectiondot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  border-radius: 100%;
  z-index: 2;
  margin-left: -0.25rem;
}
#contact-background {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: 0;
  overflow: hidden;
}
.text-section {
  line-height: 2em;
  position: absolute;
  bottom: 0vh;
  color: white;
  /* border-bottom: 2px solid rgb(0, 255, 255); */
  background-color: transparent;
  min-width: 260px;
  left: 0;
  right: 50%;
  margin-left: 6rem;
}

.cutout-text {
  background-color: black;
  color: white;
  line-height: 1em;
  font-size: 11vw;
  font-weight: bold;
  margin: 0 auto;
  width: 100%;
  padding-top: 20vh;
  text-align: center;
  position: absolute;
  /* top: 20%; */
  height: 100%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  mix-blend-mode: multiply;
}

.jelliesVideo {
  width: 100%;
  height: 22vw;
  object-fit: cover;
  position: absolute;
  right: 0%;
  top: 20%;
}
.jelliesVideoAbout {
  width: 100%;
  height: 90%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 10%;
  z-index: -1;
}

.nameHeaderTitle {
  position: absolute;
  bottom: 0;
  left: 6rem;
  right: 6rem;
  font-size: 1.5rem;
  color: white;
  /* filter: url("#chromaticAberration"); */
}
.nameHeaderSubtitle {
  font-family: "CAVEAT";
  color: gray !important;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
}
#section04 {
  overflow-x: hidden;
}
.divider-section {
  height: 20vh !important;
  background-color: black !important;
}
.contact-ul span {
  font-weight: bold;
}

.headerLinks {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  right: 6rem;
}

.headerLinks > a {
  font-size: 1.2rem;
  color: white;
  float: right;
  padding-left: 1rem;
  /* filter: url("#chromaticAberration"); */
}
.headerLinks > a:hover {
  filter: url("#chromaticAberration2");
}
.subtitle-barcode .glitch > span {
  font-size: 2rem;
}
#g > span {
  font-size: 7rem;
  width: calc(100vw - 12rem);
  color: beige;
}
@media (max-width: 1200px) {
  #g > span {
    font-size: 6rem;
  }
}
#g {
  mix-blend-mode: exclusion;
}
.glitch > span {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.glitch > span {
  /* animation: glitch 2200ms infinite; moveclipa 6000ms infinite */
  transform: translate(0em, -0em);
}
.glitch > span:first-child {
  display: none;
  animation: glitch 5800ms infinite, moveclipb 6000ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0 30%);
  /* transform: translate(0.04em, -0em); */
}
.glitch > span:last-child {
  display: none;
  animation: glitch 4000ms infinite, moveclipc 6000ms infinite;
  clip-path: polygon(0 45%, 100% 45%, 100% 100%, 0 100%);
  /* transform: translate(-0.04em, 0em); */
}
@keyframes moveclipa {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    transform: translate(0.08em, 0em);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 10%);
    transform: translate(-0.04em, 0em);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    transform: translate(0.08em, 0em);
  }
}
@keyframes moveclipb {
  0% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    transform: translate(-0.08em, 0em);
  }
  50% {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    transform: translate(0.5em, 0em);
  }
  100% {
    clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
    transform: translate(-0.08em, 0em);
  }
}
@keyframes moveclipc {
  0% {
    clip-path: polygon(0 50%, 100% 50%, 100% 90%, 0 90%);
    transform: translate(0em, 0em);
  }
  50% {
    clip-path: polygon(0 10%, 100% 10%, 100% 50%, 0 50%);
    transform: translate(0.2em, 0em);
  }
  100% {
    clip-path: polygon(0 50%, 100% 50%, 100% 90%, 0 90%);
    transform: translate(0em, 0em);
  }
}

@keyframes glitch {
  40% {
    text-shadow: -0em 0em 0em var(--glitch-color-a),
      0em 0em 0em var(--glitch-color-b), -0em 0em 0em var(--glitch-color-c);
  }
  45% {
    text-shadow: 0.05em -0em 0em var(--glitch-color-a),
      0.1em 0em 0em var(--glitch-color-b), 0.15em 0em 0em var(--glitch-color-c);
  }
  50% {
    text-shadow: -0em 0em 0em var(--glitch-color-a),
      -0em 0em 0em var(--glitch-color-b), -0em 0em 0em var(--glitch-color-c);
  }
  /* 55% {
    text-shadow: -0.25em -0em 0em var(--glitch-color-a),
      -0.025em 0em 0em var(--glitch-color-b),
      -0.01em -0em 0em var(--glitch-color-c);
  } */
  /* 85% {
    text-shadow: -0.05em -0em 0em var(--glitch-color-a),
      0.1em -0em 0em var(--glitch-color-b), 0.05em 0em 0em var(--glitch-color-c);
  } */
  90% {
    text-shadow: 0em 0em 0em var(--glitch-color-a),
      -0em -0em 0em var(--glitch-color-b), 0em 0em 0em var(--glitch-color-c);
  }
  95% {
    text-shadow: 0.15em 0em 0em var(--glitch-color-a),
      0.3em 0em 0em var(--glitch-color-b), 0.45em 0em 0em var(--glitch-color-c);
  }
}
.body-ul {
  padding-inline-start: 0;
}
@media only screen and (max-width: 700px) {
  .sideBar {
    display: none;
  }
  .contact-section {
    font-size: 1rem !important;
  }
  #skills-sphere {
    z-index: -1;
    right: -40vw;
    left: 40vw;
    bottom: 50vh;
    top: -10vh;
  }
  #sphereCanvas {
    width: 100vw;
    height: 100vw;
  }
  #canvas {
    height: 50vh;
  }
  .typed {
    transform: translate(-50%, 10vh) rotate(90deg);
  }
  .rotate {
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }
  .nameHeaderTitle {
    text-align: center;
    left: 20px;
    right: 20px;
    max-width: 100%;
  }
  .contact-section,
  .text-section {
    margin-left: 3rem;
  }
  .text-section p {
    font-size: 1rem;
  }
  footer {
    font-size: 0.7rem;
  }
  .subtitle-barcode .barcode {
    display: none !important;
  }
  .headerLinks {
    display: none !important;
  }
  .social {
    top: 19vh;
  }
  .social li svg {
    height: 15vw;
    width: 15vw;
  }
  .ideasToReality {
    font-size: 4.5vw;
  }
  .cutout-text {
    top: 60%;
    left: 50%;
    height: 68vw;
    width: 82vh;
    padding-top: 33vw;
    font-size: 16vw;
    /* transform: rotate(90deg) translate(36%, 50%); */
    /* top: 41vh; */
    /* margin-top: -4rem; */
    /* left: -57%; */
  }
  .jelliesVideo {
    width: 100%;
    height: 80vh;
  }
  .ideasToReality {
    padding-top: 2vw;
    top: 14vh;
  }
  .ddee {
    padding-top: 0;

    top: 19vh;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
